<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OwensCorning.NotificationService.Properties.Settings.OC_NotificationServiceConnectionString"
            connectionString="Data Source=hansqldev02,2429;Initial Catalog=OC_NotificationService;Persist Security Info=True;User ID=OC_Admin;Password=10ac!ou3"
            providerName="System.Data.SqlClient" />
        <add name="OwensCorning.NotificationService.Properties.Settings.CMS400OC_COMM_STAGConnectionString"
            connectionString="Data Source=HANSQLDEV02,2429;Initial Catalog=CMS400OC_COMM_STAG;Persist Security Info=True;User ID=CommOC;Password=C0mmUs3r"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>