<appSettings>
    <add key="status.check.net.version.prefix" value="2."/>

  <!--NotificationService settings-->
  <add key="DaysToCheckIfNoPreviousBatchRun" value="90"/>
  <add key="mail.disable" value="false"/>
  <add key="mail.debug" value="false"/>
  <add key="mail.relayServer" value="mailin.owenscorning.com"/>
  <add key="Email.From" value="answers@answers.owenscorning.com"/>
  <add key="Email.Subject" value="Documents Have Been Updated"/>
  <add key="Email.ThreadsMax" value="25"/>
  <!--
	################################################################
	#
	# DATABASE SETTINGS
	# 
	# db.dealerlocator.prefix = the name of the database that contains 
	#   the dealer locator table.
	#
	#################################################################
	-->
  <add key="db.dealerlocator.prefix" value="OCCanadianInsulationSTAGE.dbo." />
  
  <add key="service.caching.enabled" value="true"/>
  <add key="cache.locator.duration" value="1200"/>
</appSettings>