<connectionStrings>
 <add name="ApplicationServices" connectionString="Server=whqv7506.owenscorning.com,1433;initial catalog=OCCommon;User Id=OCrw_user;Password=b3ngTh3r3;MultipleActiveResultSets=True"
  providerName="System.Data.SqlClient" />
 <add name="dao.owens.sql.connectionstring" connectionString="Server=whqv7511.owenscorning.com,1433;initial catalog=owens;User Id=owens_dbo;Password=owens_dbo;MultipleActiveResultSets=True" />
 <add name="OwensCorning.NotificationService.Properties.Settings.OC_NotificationServiceConnectionString"
  connectionString="Data Source=whqv7506.owenscorning.com,1433;Initial Catalog=OC_NotificationServiceSTAGE;Persist Security Info=True;User ID=OCrw_user;Password=b3ngTh3r3"
  providerName="System.Data.SqlClient" />
 <add name="OwensCorning.NotificationService.Properties.Settings.CMS400OC_COMM_STAGConnectionString"
  connectionString="Data Source=whqv7506.owenscorning.com,1433;Initial Catalog=CMS400OCCommercialSTAGE;Persist Security Info=True;User ID=OCrw_user;Password=b3ngTh3r3"
  providerName="System.Data.SqlClient" />
 <add name="OwensCorning.Locator.Owens" connectionString="Server=whqv7511.owenscorning.com,1433;initial catalog=owens;User Id=owens_dbo;Password=owens_dbo;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
 <add name="OwensCorning.Locator.DealerLocator" connectionString="Server=whqv7511.owenscorning.com,1433;initial catalog=DealerLocator;User Id=owens_dbo;Password=owens_dbo;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="OwensCorning.Locator.Canada" connectionString="SERVER=whqv7506.owenscorning.com,1433;Initial Catalog=OCCanadianInsulationSTAGE;UID=OCrw_user;PWD=b3ngTh3r3" providerName="System.Data.SqlClient"/>
  <add name="OwensCorning.Locator.Stone" connectionString="Data Source=whqv7506.owenscorning.com,1433;Initial Catalog=StoneSTAGE;User ID=OCrw_user;Password=b3ngTh3r3" providerName="System.Data.SqlClient" />
 <add name="OwensCorning.Common" connectionString="Data Source=whqv7506.owenscorning.com,1433;Initial Catalog=OCCommon;User ID=OCrw_user;Password=b3ngTh3r3" providerName="System.Data.SqlClient" />
 <add name="owc_owensConnectionString" connectionString="Data Source=whqv7511.owenscorning.com,1433;Initial Catalog=owens;Persist Security Info=True;User Id=owens_dbo;Password=owens_dbo;" providerName="System.Data.SqlClient" />
</connectionStrings>

