<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScheduledNotificationKickoff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <appSettings>
    <add key="notificationService.site" value="commercial.staging.hansoninc.com" />
  </appSettings>
    <applicationSettings>
      <ScheduledNotificationKickoff.Properties.Settings>
            <setting name="ScheduledNotificationKickoff_NotificationService_NotificationService"
                serializeAs="String">
                <value>http://ws.staging.hansoninc.com/NotificationService.asmx</value>
            </setting>
        </ScheduledNotificationKickoff.Properties.Settings>
    </applicationSettings>
</configuration>