<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DaysToCheckIfNoPreviousBatchRun" value="90"/>
    <add key="mail.disable" value="false"/>
    <add key="mail.debug" value="false"/>
    <add key="mail.relayServer" value="relay-mail.iscg.net"/>
    <add key="Email.From" value="answers@owenscorning.com"/>
    <add key="Email.Subject" value="Updated Documents"/>
    <add key="Email.ThreadsMax" value="10"/>
  </appSettings>
</configuration>