<connectionStrings>
  <add name="ApplicationServices" connectionString="Server=ocsql02.oc.iscgnet.com;initial catalog=OCCommon;User Id=OCWebService;Password=8b7m338fj;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  <add name="owc_owensConnectionString" connectionString="Server=ocsql01.oc.iscgnet.com;initial catalog=owens;User Id=owens_dbo;Password=owens_dbo;MultipleActiveResultSets=True"/>
  <add name="dao.owens.sql.connectionstring" connectionString="Server=ocsql01.oc.iscgnet.com;initial catalog=owens;User Id=owens_dbo;Password=owens_dbo;MultipleActiveResultSets=True"/>
    <add name="OwensCorning.NotificationService.Properties.Settings.OC_NotificationServiceConnectionString"
      connectionString="Data Source=ocsql02.oc.iscgnet.com;Initial Catalog=OC_NotificationService;Persist Security Info=True;User ID=OCWebService;Password=8b7m338fj"
      providerName="System.Data.SqlClient" />
    <add name="OwensCorning.NotificationService.Properties.Settings.CMS400OC_COMM_STAGConnectionString"
      connectionString="Data Source=ocsql02.oc.iscgnet.com;Initial Catalog=CMS400OC_Commercial;Persist Security Info=True;User ID=OCcms_user;Password=edPwXDMA"
      providerName="System.Data.SqlClient" />
  <add name="OwensCorning.Locator.Owens" connectionString="Server=ocsql01.oc.iscgnet.com;initial catalog=owens;User Id=owens_dbo;Password=owens_dbo;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  <add name="OwensCorning.Locator.DealerLocator" connectionString="Server=ocsql01.oc.iscgnet.com;initial catalog=DealerLocator;User Id=owens_dbo;Password=owens_dbo;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  <add name="OwensCorning.Locator.Canada"
       providerName="System.Data.SqlClient"
       connectionString="SERVER=ocsql02.oc.iscgnet.com,1433;Initial Catalog=OCCanadianInsulation;UID=OCcms_user;PWD=edPwXDMA" />
  <add name="OwensCorning.Locator.Stone" connectionString="Data Source=ocsql02.oc.iscgnet.com;Initial Catalog=Stone;Persist Security Info=True;User ID=Stone_rw;Password=Stone4u&amp;me" providerName="System.Data.SqlClient"/>
  <add name="OwensCorning.Common" connectionString="Data Source=ocsql02.oc.iscgnet.com;Initial Catalog=OCCommon;Persist Security Info=True;User ID=OCCommon;Password=$5dfe!AED" providerName="System.Data.SqlClient"/>
</connectionStrings>
