<behaviors>
  <serviceBehaviors>
    <behavior name="com.ocwebservice.LocatorBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
    <behavior name="com.ocwebservice.SurveyBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
    <behavior name="LegacyServiceTypeBehavior">
      <serviceMetadata httpGetEnabled="true" />
    </behavior>
    <behavior name="OwensCorning.WebServices.ApplicationServices.RoleProviderBehavior">
      <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
    <behavior name="OwensCorning.WebServices.ApplicationServices.MembershipProviderBehavior">
      <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
    <behavior name="OwensCorning.WebServices.ApplicationServices.ProfileProviderBehavior">
      <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
  </serviceBehaviors>
</behaviors>