<!--  CUSTOM ERROR MESSAGES
	Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
	Add <error> tags for each of the errors you want to handle.

	"On" Always display custom (friendly) messages.
	"Off" Always display detailed ASP.NET error information.
	"RemoteOnly" Display custom (friendly) messages only to users not running 
	on the local Web server. This setting is recommended for security purposes, so 
	that you do not display application detail information to remote clients.
-->
<customErrors mode="Off" />
