<connectionStrings>
 <add name="ApplicationServices" connectionString="Server=hansqldev02.hansoninc.local,2429;initial catalog=OCCommon;User Id=OC_Admin;Password=10ac!ou3;MultipleActiveResultSets=True"
  providerName="System.Data.SqlClient" />
 <add name="dao.owens.sql.connectionstring" connectionString="Data Source=hansqldev02,2429;Initial Catalog=OWC_Owens;User ID=OC_Admin;Password=10ac!ou3" providerName="System.Data.SqlClient" />
 <add name="OwensCorning.NotificationService.Properties.Settings.OC_NotificationServiceConnectionString"
  connectionString="Data Source=hansqldev02,2429;Initial Catalog=OC_NotificationService;Persist Security Info=True;User ID=OC_Admin;Password=10ac!ou3"
  providerName="System.Data.SqlClient" />
 <add name="OwensCorning.NotificationService.Properties.Settings.CMS400OC_COMM_STAGConnectionString"
  connectionString="Data Source=HANSQLDEV02,2429;Initial Catalog=CMS400OC_COMM_STAG;Persist Security Info=True;User ID=CommOC;Password=C0mmUs3r" providerName="System.Data.SqlClient" />
 <add name="OwensCorning.Locator.Owens" connectionString="Data Source=hansqldev02,2429;Initial Catalog=OWC_Owens;User ID=OC_Admin;Password=10ac!ou3" providerName="System.Data.SqlClient" />
  <add name="OwensCorning.Locator.Canada" connectionString="SERVER=hansqldev02.hansoninc.local,2429;Initial Catalog=OCCanadianInsulation;UID=OCinsul;PWD=freetree" providerName="System.Data.SqlClient" />
  <add name="OwensCorning.Locator.DealerLocator" connectionString="Data Source=hansqldev02,2429;Initial Catalog=OWC_DealerLocator;User ID=OC_Admin;Password=10ac!ou3" providerName="System.Data.SqlClient" />
  <add name="OwensCorning.Locator.Stone" connectionString="Data Source=hansqldev02,2429;Initial Catalog=Stone;User ID=OC_Admin;Password=10ac!ou3" providerName="System.Data.SqlClient" />
 <add name="OwensCorning.Common" connectionString="Data Source=hansqldev02,2429;Initial Catalog=OCCommon;User ID=OC_Admin;Password=10ac!ou3" providerName="System.Data.SqlClient" />
 <add name="owc_owensConnectionString" connectionString="Data Source=hansqldev01,2429;Initial Catalog=owc_owens;Persist Security Info=True;User ID=han_sa" providerName="System.Data.SqlClient" />
</connectionStrings>
