<services>
  <service behaviorConfiguration="com.ocwebservice.LocatorBehavior"
        name="com.ocwebservice.Locator">
    <endpoint binding="basicHttpBinding" contract="com.ocwebservice.ILocator" />
  </service>
  <service behaviorConfiguration="com.ocwebservice.LocatorBehavior"
        name="com.ocwebservice.LocatorV3">
    <endpoint binding="basicHttpBinding" contract="com.ocwebservice.ILocator" />
  </service>
	<service behaviorConfiguration="com.ocwebservice.LocatorBehavior"
        name="com.ocwebservice.LocatorV4">
		<endpoint binding="basicHttpBinding" contract="com.ocwebservice.ILocator" />
	</service>
  <service behaviorConfiguration="com.ocwebservice.SurveyBehavior"
        name="com.ocwebservice.Survey">
    <endpoint binding="basicHttpBinding" contract="com.ocwebservice.ISurvey" />
  </service>
  <service behaviorConfiguration="LegacyServiceTypeBehavior" name="com.ocwebservice.ContactList">
    <endpoint binding="basicHttpBinding" contract="com.ocwebservice.ContactList" />
  </service>
  <service behaviorConfiguration="LegacyServiceTypeBehavior" name="com.ocwebservice.NotificationService">
    <endpoint binding="basicHttpBinding" contract="com.ocwebservice.NotificationService" />
  </service>
  <service behaviorConfiguration="OwensCorning.WebServices.ApplicationServices.RoleProviderBehavior" name="OwensCorning.WebServices.ApplicationServices.RoleProvider">
    <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpEndpointBinding" contract="OwensCorning.WebServices.ApplicationServices.IRoleProvider">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
  </service>
  <service behaviorConfiguration="OwensCorning.WebServices.ApplicationServices.MembershipProviderBehavior" name="OwensCorning.WebServices.ApplicationServices.MembershipProvider">
    <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpEndpointBinding" contract="OwensCorning.WebServices.ApplicationServices.IMembershipProvider">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
  </service>
  <service behaviorConfiguration="OwensCorning.WebServices.ApplicationServices.ProfileProviderBehavior" name="OwensCorning.WebServices.ApplicationServices.ProfileProvider">
    <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpEndpointBinding" contract="OwensCorning.WebServices.ApplicationServices.IProfileProvider">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
  </service>
</services>